# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/src/edar/node_modules
/src/edar/.pnp
.pnp.js

# testing
/src/edar/coverage

# production
/src/edar/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
